<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>insert some header here :)</h1>
            <hr>
            <p>Austin Rope Slingers is a community gathering for all peoples interested in rope and bondage in all its many forms and aspects. Our goal is to create a safe and fun environment for play, practice, and education.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">View our calendar</a>
        </div>
    </div>
</header>
